@page
@model Projekt.CRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="banner">
    <h2 class="rounded text-center text-white p-3">Edit</h2>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td style="width:300px">
                        <img src="data:image/jpg;base64,@Model.Item.ImageData" class="img-fluid banner" alt="Item Image" />
                    </td>
                    <td class="rounded">
                        <div class="row mb-3">
                            <div class="col-md-4 banner text-center">
                                <strong>Name</strong>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control banner2 text-center" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 banner text-center">
                                <strong>State</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-select banner2 text-center" asp-for="State">
                                    <option value="New">
                                        New
                                    </option>
                                    <option value="Used">
                                        Used
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 banner text-center">
                                <strong>Category</strong>
                            </div>
                            <div class="col-md-8">
                                <select class="form-select banner2 text-center" asp-for="Category">
                                    <option value="Books">
                                        Books
                                    </option>
                                    <option value="Bikes">
                                        Bikes
                                    </option>
                                    <option value="Cars">
                                        Cars
                                    </option>
                                    <option value="Phones">
                                        Phones
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 text-center banner">
                                <strong>Price</strong>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control text-center banner2" asp-for="Price" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4 text-center banner">
                                <strong>Description</strong>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control text-center banner2" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>

                       
                            

                        <div class="row mb-3">
                            <div class="col-md-4 text-center banner">
                                <strong>New Image</strong>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-file text-center banner2" asp-for="ImageFile" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                        </div>

                        <div hidden class="row mb-3">
                            <div class="col-md-4 text-center banner">
                                <strong>New Image</strong>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-file text-center banner2" asp-for="ImageData" />
                                <span asp-validation-for="ImageData" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="offset-sm-4 col-sm-6">
                                <button type="submit" class="btn btn-primary banner" href="/Users/MyItems">Save Changes</button>

                                <a asp-page="/Users/MyItems" class="btn btn-secondary banner">Go back</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
