@page
@model Projekt.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="banner">
    <h2 class="rounded text-center text-white p-3">Create New Account</h2>
</div>



<form method="post">
    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">Name</label>
        <div class="col-sm-6 text-center">
            <input class="form-control text-center banner2" asp-for="User.Name" placeholder="Enter your name"/>
            <span asp-validation-for="User.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">Surname</label>
        <div class="col-sm-6">
            <input class="form-control text-center banner2" asp-for="User.Surname" placeholder="Enter your surname" />
            <span asp-validation-for="User.Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">E-mail</label>
        <div class="col-sm-6">
            <input class="form-control text-center banner2" asp-for="User.Email" placeholder="Enter your e-mail" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">Password</label>
        <div class="col-sm-6">
            <input class="form-control text-center banner2" asp-for="User.Password" type="password" placeholder="Enter your password" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">Observed Category</label>
        <div class="col-sm-6">
            <select id="observedCategory" class="form-select text-center banner2" asp-for="User.ObservedCategory">
                <option value="Any">Any</option>
                <option value="Books">Books</option>
                <option value="Bikes">Bikes</option>
                <option value="Cars">Cars</option>
                <option value="Phones">Phones</option>
            </select>
            <span asp-validation-for="User.ObservedCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3 text-center">
        <label class="col-sm-3 col-form-label banner text-white">Phone Number</label>
        <div class="col-sm-6">
            <input class="form-control text-center banner2" asp-for="User.PhoneNumber" placeholder="Enter your phone number" />
            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="offset-sm-3 col-sm-6">
            <button type="submit" class="btn btn-primary banner" href="/Index">Create</button>

            <a asp-page="Index" class="btn btn-secondary warning">Cancel</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
