.warning {
    background-color: #7E0306;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

    .warning h2 {
        text-align: center;
        color: white;
        padding: 10px;
    }
